# /.phpunit.cache
# /node_modules
# /public/build

# .env
# .env.backup
# .env.production
# .phpunit.result.cache
# Homestead.json
# Homestead.yaml
# auth.json
# npm-debug.log
# yarn-error.log
# /.fleet

# Laravel standard folders
/vendor
/node_modules

# Laravel specific files
.env
.env.*
.phpunit.result.cache
.phpunit.cache
Homestead.yaml
Homestead.json

# Laravel storage 
storage/*.key
storage/app/public
storage/framework
storage/logs

# Public build files (opsional tergantung config)
public/hot
public/storage

# IDE/editor configs
/.idea
/.vscode


